mixin linkedin(link)
    form
        button.btn.btn-outline-primary(type="submit" formtarget="_blank" formaction=link)
            img(width="100", height="24", src="assets/img/LI-sm-Logo.png" alt="LinkedIn")